body{
	background-color: rgb(0, 121, 191);
	font-family: sans-serif;
	/*"Helvetica Neue"*/
}

#main-header{
	color: white
}

#json-link{
	color: white
}

#main-wrapper{
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
}

.input-buffer{
		position: absolute;
    top: -1000px;
    left: -1000px;
    min-width: 279px;
    visibility: hidden;
    white-space: nowrap;
}

.sortable-tree button{
	background: #CDD2D4;
	box-shadow: 0 1px 0 0 #A5ACB0;
	color: #4C4C4C;
	height: 26px;
	width: 26px;
}

.rst__moveHandle{
	border-radius: 5px 0 0 5px;
}

.rst__rowContents{
	border-radius: 0 5px 5px 0;
}

/*#main-wrapper{

}*/

.text-div{
	color: rgb(51, 51, 51);
	min-width: 278px;
	height: 19px;
}

#react-tree-wrapper{
	height: 500px;
	minWidth: 500px;
}

#left-wrapper{
	width: 50%;
}

#right-wrapper{
	width: 50%;
	min-width: 700px;
}
